/* General style */

* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: #81A1A3 solid 1px;
}

html {
	height: 100%;
}

body {
	background: #F0EBE1 url('/assets/images/wood-background.jpg');
	font-family: Helvetica Neue, sans-serif;
	font-size: 12px;
	height: 100%;
}

a {
	color: #232220;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Wrappers */

.wrapper {
	margin: 0 auto;
	width: 1200px;
}

.wrapper-small {
	margin: 0 auto;
	padding-top: 58px;
	width: 500px;
}

#cover-wrapper {
	background: #686868 url('/assets/images/wood-background.jpg');
	box-shadow: 2px 2px 1px #888888;
	height: 300px;
	margin: auto;
	padding-top: 81px;
	width: 100%;
}

/* Modals */

#overlay {
	background-color: #000000;
	filter: alpha(opacity=60);
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.close-modal {
	cursor: pointer;
}

.ui-dialog-titlebar {
	display: none;
}

.ui-widget-header {
	display: none;
}

/* Text alignment */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* Status Messages */

.success-msg {
	color: #6CA383;
}

.error-msg {
	color: #C92A2A;
}

/* Forms */

.form-wrapper {
	background-color: #E7DECE;
	border-radius: 2px;
	box-shadow: 2px 2px 1px #888888;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1001;
}

.form-header {
	background-color: #232220;
	border: 1px solid #000000;
	padding: 8px 15px;
}

.form-header h1 {
	color: #E7DECE;
	font-size: 18px;
}

.close-form {
	float: right;
	font-weight:normal;
	font-size: 12px;
}

.form-contents {
	border: 1px solid #C7BFB1;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow: hidden;
	padding: 15px;
}

.form-label {
	display: inline-block;
	font-weight: bold;
	padding: 4px 0;
}

.text-input {
	background: #FFFFFF;
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px 1px #888888;
	-moz-box-shadow: 2px 2px 1px #888888;
	-webkit-box-shadow: 2px 2px 1px #888888;
	color: #383734;
	padding: 6px;
	margin: 0 auto 10px;
	width: 95%;
}

.url-input {
	background: #C9C9C9;
	border: none;
}

.dropdown-input {
	background: #FFFFFF;
	border: 1px solid #C9C9C9;
	border-radius: 2px;
	height: 32px;
	margin: 0 auto 10px;
	padding: 4px;
	width: 98%;
}

.dropdown-input select {
	background: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #383734;
}

/* Buttons */

.button {
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px 1px #888888;
	color: #E7DECE;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 6px;
	overflow: hidden;
	padding: 6px;
	text-align: center;
}

.blue {
	background-color: #81A1A3;
}

.blue:hover {
	background-color: #789596;
}

.blue:active {
	background-color: #6A8385;
	box-shadow: 1px 1px 1px #888888;
}

.grey {
	background-color: #83858A;
}

.grey:hover {
	background-color: #7A7C80;
}

.grey:active {
	background-color: #6C6D70;
	box-shadow: 1px 1px 1px #888888;
}

.green {
	background-color: #6CA383;
	border: 1px solid #527A63;
}

.green:hover {
	background-color: #65967A;
}

.red {
	background-color: #DE4E4E;
	border: 1px solid #C92A2A;
}

.red:hover {
	background-color: #CC4747;
}

/* Text size */

.small {
	font-size: 10px;
}

/* Float */

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}