#wrapper {
	width: auto;
	margin: 0 20px;
}

#cover-wrapper {
	width: 100%;
	height: 200px;
	background: #686868 url('/assets/images/wood-background.jpg');
	padding-top: 58px;
}

#wrapper-small {
	width: 500px;
	margin: 0 auto;
	padding-top: 58px;
}

/* Modals */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 1000;
}

.ui-dialog-titlebar-close {
  display: none;
}

/* Text alignment */
.text-center {
	text-align: center;
}

/* Status Messages */
.success-msg {
	color: #6CA383;
}

.error-msg {
	color: #C92A2A;
}

/* Forms */
.form {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;
	overflow: hidden;
	border-radius: 2px;
	background-color: #E7DECE;
}

.form-header {
	padding: 10px;
	border: 1px solid #000000;
	background-color: #232220;
}

.form h1 {
	color: #E7DECE;
}

.form-contents {
	padding: 10px;
}

*:focus {
	outline: #81A1A3 solid 1px;
}

.text-input {
	width: 95%;
	padding: 6px;
	margin: 0 auto 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
    color: #383734;
    background: #FFFFFF;
}

.text-label {
	padding: 4px 0;
	font-weight: bold;
}

.dropdown-input {
	width: 98%;
	height: 32px;
	padding: 4px;
	margin: 0 auto 10px;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
    background: #FFFFFF;
}

.dropdown-input select {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #383734;
    background: transparent;
}

/* Buttons */
.button {
	margin-right: 6px;
	padding: 6px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	border-radius: 2px;
	font-weight: bold;
	cursor: pointer;
}

.blue {
	color: #E7DECE;
	border: 1px solid #6A8385;
	background-color: #81A1A3;
}
.blue:hover {
	background-color: #789596;
}

.grey {
	color: #E7DECE;
	border: 1px solid #6C6D70;
	background-color: #83858A;
}
.grey:hover {
	background-color: #7A7C80;
}

.green {
	color: #E7DECE;
	border: 1px solid #527A63;
	background-color: #6CA383;
}
.green:hover {
	background-color: #65967A;
}

.red {
	color: #E7DECE;
	border: 1px solid #C92A2A;
	background-color: #DE4E4E;
}
.red:hover {
	background-color: #CC4747;
}

.cancel-button {
	cursor: pointer;
}

.small {
	font-size: 10px;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}