/* Navbar */

#navbar {
	background-color: #232220;
	box-shadow: 2px 2px 1px #000000;
	border-bottom: 1px solid #000000;
	height: 30px;
	padding: 4px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#navbar-center {
	color: #E7DECE;
	margin: auto;
	width: 1200px;
}

#navbar-center a {
	color: #E7DECE;
	text-decoration: none;
}

#navbar-logo {
	display: inline;
	float: left;
	font-size: 20px;
	padding: 0px;
}

#navbar-links {
	display: inline;
	float: right;
	overflow: visible;
	position: relative;
	width: auto;
}

#navbar-break {
	background-color: #E7DECE;
	display: inline-block;
	height: 30px;
	position: absolute;
	width: 2px;
}

#navbar-dropdown {
	display: inline-block;
	margin-left: 6px;
	padding: 6px;
	position: relative;
}

#navbar-dropdown ul {
	background-color: #383734;
	box-shadow: 2px 2px 1px #000000;
	border: 1px solid #232220;
	border-radius: 2px;
	left: -9999px;
	list-style: none;
	margin-top: 10px;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

#navbar-dropdown ul li {
	float: none;
}

#navbar-dropdown ul a {
	display: block;
	padding: 6px;
	white-space: nowrap;
}

#navbar-dropdown:hover {
	background-color: #383734;
}

#navbar-dropdown-wrapper {
	display: inline-block;
	position: relative;
}

#navbar-dropdown-wrapper:hover {
	height: 34px;
	overflow: visible;
}

#navbar-dropdown-wrapper:hover ul {
	left: 0;
}