#hero {
	background: #232220;
	border-radius: 2px;
	box-shadow: 2px 2px 1px #000000;
	color: #E7DECE;
	float: left;
	height: 500px;
	padding: 20px;
	width: 400px;
}

#hero h1 {
	font-size: 60px;
	font-weight: lighter;
}